
Prettifying-JSON-NET/bin/Debug/Prettifying-JSON-NET.exe
.vs/Prettifying-JSON-NET/v16/.suo
.vs/Prettifying-JSON-NET/v16/Server/sqlite3/db.lock
.vs/Prettifying-JSON-NET/v16/Server/sqlite3/storage.ide
.vs/Prettifying-JSON-NET/v16/Server/sqlite3/storage.ide-shm
.vs/Prettifying-JSON-NET/v16/Server/sqlite3/storage.ide-wal
